h1{
	color: #AB7FC1;
	font-family: cursive;
}
label{
	color: #C54799;
	font-family: fantasy;
}
fieldset{
	border-width: medium;
	border-color: #F16F6F;
	width: 60%;
}	
input{
	border-color: #F16F6F;
}
button{
	border-width: medium;
	border-color: black;
	color: white;
	font-family: cursive;
	background:	black; 
}
ul{
	color: #05A7A7;
	font-family: fantasy;
}
h2{
	color: #80C17F;
	font-family: sans-serif;
}
p{
	font-family: fantasy;
	font-style: large;
	color: #82A9E9;
}
h3{
	color: #AB7FC1;
	font-family: cursive;
	font-size: xx-large;
}
nav{
	font-family: fantasy;
	color: #FC7549;
	font-size: medium;
}
h4{
	color: #DF58FD;
	font-family: fantasy;
}
li{
	color: #8BC753;
	font-family: fantasy;
	list-style-type: circle;
}
legend{
	color: #05A7A7;
	font-family: fantasy;
}
h5{
	color: #AB7FC1;
	font-family: cursive;
	font-size: xx-large;
}
h6{
	color: #DF58FD;
	font-family: fantasy;
	font-size: medium;
}
ol{
	color: #3AA563;
	font-family: fantasy;
	font-size: medium;
}
table{
	border: 3px solid;
	width: 50%;
	border-color: #F16F6F;

}
td{
	font-family: fantasy;
	padding: 0.3em;
	border: 3px solid;
	border-color: #F16F6F;
	color: #8BC753
}
